.card{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    padding: 0px 30px 30px 30px;
    text-align: left;
}
.card .iconContainer{
    width: 80px;
    height: 80px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}
.card h3{
    color: black;
    margin-bottom: 15px;
}

.card p{
    font-weight: 500;
    font-size: 18px;
}