.card{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    padding: 40px;
    text-align: left;
}
.card .iconContainer{
    width: fit-content;
    height: auto;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    padding: 20px;
    transform: translateY(-90%);
}
.card h3{
    color: black;
}

.card p{
    font-weight: 500;
    font-size: 18px;
}