.nav{
    display:flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: hsl(0, 0%, 75%);
    font-size: 18px;
    font-weight: 500;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.navPages li{
    margin-right: 50px;
}
.navPages li:hover{
    color: black;
    cursor: pointer;
}
.navPages :nth-child(1) {
    align-self: flex-end;
  }

.loginArea{
    justify-content: flex-end;
}
.loginArea li{
    margin-left: 50px;
}